@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

/*----- Styles Généraux -----*/

body {
    background-color: var(--color-white);
  }

:root {
    --color-white: #FFFFFF;
    --color-blue-primary: #2E4EB7;
    --color-yellow-light: #FFEB89;
    --color-black: #000000;
    --color-blue-dark: #19307F;
    --color-yellow-medium: #F4CB5A;
    --font-primary: 'DM Serif Text', serif;
    --font-secondary: 'Schibsted Grotesk', sans-serif;
  }

  h1 {
    font-family: var(--font-primary);
    font-size: 2.5rem;
    color: var(--color-blue-primary);
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

h2 {
    font-family: var(--font-primary);
    font-size: 2rem;
    color: var(--color-blue-dark);
    margin-bottom: 0.5em;
}

h3 {
    font-family: var(--font-primary);
    font-size: 1.75rem;
    color: var(--color-blue-dark);
    margin-bottom: 0.5em;
}

a {
  font-family: var(--font-secondary);
  color: var(--color-white);
  text-decoration: none;
}

  /*------ Section Hero ------*/